/** @format */

:root {
  --clr-text: rgb(0, 0, 0);
  --clr-primary: white;
  --clr-secondary: orange;
  --clr-hover-text: rgb(255, 255, 255);

  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Nunito", sans-serif;
}

*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.35 rem;
  line-height: 1.6;
  width: 100%;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: var(--ff-secondary);
  line-height: 1;
  font-weight: 900;
}
/*---------------------------Header-------------------------------------*/
.header {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  justify-content: space-around;
  padding: 1rem 0;
  background-color: var(--clr-secondary);
  position: fixed;
  z-index: 6;
  transition: all 0.1s ease;
}
.header.displaced {
  background-color: white;
  height: 4rem;
}
.header.displaced a {
  color: orange;
}
.header.displaced a:hover {
  border-bottom: 2px orange solid;
}
.header li {
  list-style: none;
  /* padding:1rem; */
  transition: all 0.3s forwards ease-in-out;
}

.header a:hover {
  color: rgb(252, 196, 92);
  font-size: 1.1rem;
  border-bottom: 2px white solid;
}
.header a {
  color: var(--clr-primary);
  transition: all 0.2s;
}

.logo {
  background-image: url("https://c1.neweggimages.com/ProductImage/AHB0S200403bhFU4.jpg");
  background-size: auto;
  background-position: center;
  color: black;
  background-repeat: no-repeat;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 2px;
}
.navbar ul {
  width: 30rem;
  display: flex;
  justify-content: space-around;
}
.sidebar {
  padding: 1rem;
  display: none;
}
/********************************************************************/
/*---------------------------First part of content-------------------------------------*/
.background {
  height: 60rem;
  /* margin-bottom: 2rem; */
  margin-top: 7rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url(https://images.unsplash.com/photo-1600861194802-a2b11076bc51?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  filter: grayscale(75%);
}
.info {
  height: 100%;
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around; */
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 7rem;
  left: 0%;
}
.grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 70%;
  height: 80%;
  margin-bottom: 2rem;
}
.intro {
  width: 50%;
  text-align: center;
  padding: 2rem 3rem;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  text-align: justify;
}

.intro h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 10rem;
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
  /* border: solid 0.01rem var(--clr-secondary); */
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.315);
  margin-left: auto;
  margin-right: auto;
}

.info-grid h1 {
  font-size: 2rem;
}
.first-column {
  color: var(--clr-secondary);
  margin: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.2rem solid var(--clr-secondary);
}
.second-column {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-column h1 {
  line-height: 1.6;
}
.main {
  height: 100%;
  margin-bottom: 5rem;
}
/********************************************************************/
/*---------------------------Video-------------------------------------*/
.video {
  /*padding-top: 30%; */
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 50vh;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0%;
  left: 0%;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: auto;
  position: relative;
  /* padding-top: 1.5%; */
  width: 100%;
  height: 100%;
}
.react-player {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}
.react-player > div {
  position: absolute;
  top: 0;
  left: 0;
}
/********************************************************************/
/*---------------------------Switches-------------------------------------*/
.switches {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.img-container {
  width: 70%;
  height: 25.5rem;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.learn-more {
  width: 50%;
  height: 25.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
}
.learn-more h1 {
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: 0;
}
.learn-more h4 {
  margin-bottom: 2rem;
}

.lm-btn {
  background-color: white;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  color: white;
  transition: all 0.2s linear;
  color: orange;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.lm-btn:hover {
  background-color: orangered;
}
/********************************************************************/
/* switches page */
.switches2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 3rem;
  margin-top: 7rem;
}
.question {
  margin-bottom: 1rem;
  line-height: 2;
  width: 50%;
  transition: all 0.3s;
}
.drop {
  background-color: rgb(255, 166, 0);
  color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
  position: relative;
  left: 90%;
  transition: 1s;
  border-radius: 50%;
}
.question h2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.switch-type {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.articlesVideo {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.articles-container {
  width: 50%;
}
.articles-container article {
  width: 100%;
  padding: 1rem 1rem;
}
.switch-type h2,
.switch-type h5 {
  margin-bottom: 1rem;
}
.switchs-container {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.individual-switch {
  /* width: 25%; */
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
  background-color: orange;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  transform: perspective(800px) rotateY(20deg) scale(0.7);
  transition: 0.5s;
  /* -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004); */
  opacity: 0.8;
}
.individual-switch:hover {
  /* transform: rotateX(0deg); */
  transform: perspective(800px) rotateY(0deg);
  background-color: orangered;
  opacity: 1;
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.219);
}
/* .individual-switch:hover > .switch-info {
  display: block;
} */
.switch-info {
  height: 70%;
  padding: 1.5rem;
  color: white;
  /* display: none; */
  /* transition: 0.3s; */
}
.individual-switch img {
  width: 15rem;
  height: 15rem;
  /* background-color: white; */
}
.return-btn {
  padding: 1rem;
  position: relative;
  overflow: hidden;
  width: 3rem;
  outline: none;
  border: none;
  color: orange;
  border-radius: 5px;
}
@keyframes widthAnimation {
  0% {
    width: 3rem;
  }

  100% {
    width: 7rem;
  }
}
.return-btn:hover {
  animation: widthAnimation 0.3s forwards;
}
.return-btn span {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateX(150%);
  width: 7rem;
  height: 3rem;
  background-color: orange;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.return-btn:hover > span {
  transform: translateX(0);
  background-color: orangered;
}
.types {
  width: 90%;
  margin-top: 2rem;
  border: 3px orange dotted;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.types h2 {
  background-color: orange;
  padding: 1rem 2rem;
  color: white;
}
.types h5 {
  padding: 0 1rem;
  /* margin-bottom: 0.5rem; */
}
/********************************************************************/
/********************************keyboards**********************************/
.keyboards {
  /* text-align: center; */
  /* height: 50vh; */
  padding: 5rem;
  background-color: rgba(255, 166, 0, 1);
}
.kb-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.pbkb {
  text-align: center;
  color: white;
}
.singleKB {
  height: 15rem;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 0.5rem;
  cursor: pointer;
}
.singleKB image {
  height: 100%;
  width: 100%;
}
.spanInfo {
  background-color: orange;
  opacity: 0.95;
  color: orangered;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(75%);
  transition: all 0.3s linear;
  padding: 2rem 2rem;
  text-align: start;
  font-size: 0.8rem;
  /* font-weight: bold; */
}
.spanInfo h1,
.spanInfo p:first-of-type {
  color: black;
}

.singleKB:hover > .spanInfo {
  transform: translateY(10%);
  background-color: white;
}

/****************************************************************************/
/***************************providers section******************************/
.logos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 40vh;
}

.logo-container {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* background-color: blue; */
  height: 15rem;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}
.logo-container img {
  width: 15rem;
}
/********************************************************************/
/********************************socials****************/
.socials {
  background-color: var(--clr-secondary);
  width: 100%;
  height: 7vh;
  padding-right: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: auto;
  left: 0;
}
.socials a {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  transition: all 0.2s linear;
}
.socials a:hover {
  color: rgb(248, 216, 156);
}
.creator {
  width: 20%;
  font-size: 0.5rem;
  color: var(--clr-primary);
}

/***************************************responsive*****************************/
@media screen and (max-width: 900px) {
  /******************switches page*****************************/
  .switches2 {
    width: 100vw;
    padding: 0;
  }
  .articlesVideo {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 1rem 0;
  }
  .articles-container {
    width: 100%;
  }
  .question {
    width: 100%;
  }
  .video {
    width: 100%;
    height: 30vh;
  }
  .wrapper {
    margin-top: 1rem;
  }
  .switchs-container {
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: 0;
    align-items: center;
  }
  .types {
    padding: 1rem 0.5rem;
    margin-bottom: 0;
    border: none;
  }
  .individual-switch:hover {
    box-shadow: none;
  }
  .socials {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
  .creator {
    display: none;
  }
  /******************navbar*********************/
  .header {
    width: 100vw;
    align-items: center;
  }
  .return-btn {
    position: fixed;
    background-color: rgba(255, 166, 0, 0.8);
    color: white;
    top: 90%;
    right: 5%;
    transform: scale(1.5);
  }
}
